webserver.json
[
    {
        "id": "692433cd95a6273f",
        "type": "tab",
        "label": "流程 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5066be8c21b3e674",
        "type": "inject",
        "z": "692433cd95a6273f",
        "name": "timein",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 380,
        "wires": [
            [
                "1480c3def4645182"
            ]
        ]
    },
    {
        "id": "0ae5e85bcf6bfba3",
        "type": "json",
        "z": "692433cd95a6273f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 390,
        "y": 660,
        "wires": [
            [
                "7267f054f2ab2fbf",
                "d983bc69e65df9e1"
            ]
        ]
    },
    {
        "id": "6423cc9b337c93b4",
        "type": "ui_chart",
        "z": "692433cd95a6273f",
        "name": "",
        "group": "47ee9b416080228d",
        "order": 2,
        "width": "6",
        "height": "5",
        "label": "Master Value",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1024",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#d83013",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 870,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "1480c3def4645182",
        "type": "file in",
        "z": "692433cd95a6273f",
        "name": "",
        "filename": "/home/pi/Desktop/Json/2022-12-02 01:57.log",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 250,
        "y": 560,
        "wires": [
            [
                "0ae5e85bcf6bfba3"
            ]
        ]
    },
    {
        "id": "1d8007cdd1f429f9",
        "type": "debug",
        "z": "692433cd95a6273f",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 540,
        "wires": []
    },
    {
        "id": "7267f054f2ab2fbf",
        "type": "function",
        "z": "692433cd95a6273f",
        "name": "function 11",
        "func": "var num1 = context.get(\"num1\") || [];\nif (typeof num1[0] == \"undefined\" || msg.topic == \"clear\") {\n    num1[0] = -1;\n    //msg.payload = [];\n}\nelse\n    num1[0] += 1;\nif (num1[0] < msg.payload.swarmValue0.length){\n    var v0 = msg.payload.swarmValue0[num1[0]];\n    var v1 = msg.payload.swarmValue1[num1[0]];\n    var v2 = msg.payload.swarmValue2[num1[0]];\n    var v3 = msg.payload.swarmValue3[num1[0]];\n    var v4 = msg.payload.swarmValue4[num1[0]];\n    var v5 = msg.payload.swarmValue5[num1[0]];\n}\nelse{\n    var v0 = msg.payload.swarmValue0[num1[msg.payload.swarmValue0.length-1]];\n    var v1 = msg.payload.swarmValue1[num1[msg.payload.swarmValue1.length-1]];\n    var v2 = msg.payload.swarmValue2[num1[msg.payload.swarmValue2.length-1]];\n    var v3 = msg.payload.swarmValue3[num1[msg.payload.swarmValue3.length-1]];\n    var v4 = msg.payload.swarmValue4[num1[msg.payload.swarmValue4.length-1]];\n    var v5 = msg.payload.swarmValue5[num1[msg.payload.swarmValue5.length-1]];\n}\n\n\nvar topic0 = \"swarm0\";\nvar topic1 = \"swarm1\";\nvar topic2 = \"swarm2\";\nvar topic3 = \"swarm3\";\nvar topic4 = \"swarm4\";\nvar topic5 = \"swarm5\";\n\n\nvar msg = [{ topic: topic0, payload: v0 }, \n           { topic: topic1, payload: v1 },\n           { topic: topic2, payload: v2 },\n           { topic: topic3, payload: v3 },\n           { topic: topic4, payload: v4 },\n           { topic: topic5, payload: v5 },\n           ];\n\n// msg.payload = msg.payload.time[num1[0]];\n//msg.payload.labels = \"time\";\ncontext.set(\"num1\", num1);\nreturn msg;",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 660,
        "wires": [
            [
                "1d8007cdd1f429f9",
                "6423cc9b337c93b4"
            ],
            [
                "1d8007cdd1f429f9",
                "6423cc9b337c93b4"
            ],
            [
                "1d8007cdd1f429f9",
                "6423cc9b337c93b4"
            ],
            [
                "1d8007cdd1f429f9",
                "6423cc9b337c93b4"
            ],
            [
                "1d8007cdd1f429f9",
                "6423cc9b337c93b4"
            ],
            [
                "1d8007cdd1f429f9",
                "6423cc9b337c93b4"
            ]
        ]
    },
    {
        "id": "d983bc69e65df9e1",
        "type": "function",
        "z": "692433cd95a6273f",
        "name": "function 12",
        "func": "var v0 = msg.payload.masterTimeSum[0];\nvar v1 = msg.payload.masterTimeSum[1];\nvar v2 = msg.payload.masterTimeSum[2];\nvar v3 = msg.payload.masterTimeSum[3];\nvar v4 = msg.payload.masterTimeSum[4];\nvar v5 = msg.payload.masterTimeSum[5];\n\nvar topic0 = msg.payload.swarmAddress[0];\nvar topic1 = msg.payload.swarmAddress[1];\nvar topic2 = msg.payload.swarmAddress[2];\nvar topic3 = msg.payload.swarmAddress[3];\nvar topic4 = msg.payload.swarmAddress[4];\nvar topic5 = msg.payload.swarmAddress[5];\n\nvar msg = [{ topic: topic0, payload: v0 },\n{ topic: topic1, payload: v1 },\n{ topic: topic2, payload: v2 },\n{ topic: topic3, payload: v3 },\n{ topic: topic4, payload: v4 },\n{ topic: topic5, payload: v5 },\n];\n\nreturn msg;",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 780,
        "wires": [
            [
                "e8c041963612ecb6",
                "e6f569d9a2cd39d9"
            ],
            [
                "e8c041963612ecb6",
                "e6f569d9a2cd39d9"
            ],
            [
                "e8c041963612ecb6",
                "e6f569d9a2cd39d9"
            ],
            [
                "e8c041963612ecb6",
                "e6f569d9a2cd39d9"
            ],
            [
                "e8c041963612ecb6",
                "e6f569d9a2cd39d9"
            ],
            [
                "e8c041963612ecb6",
                "e6f569d9a2cd39d9"
            ]
        ]
    },
    {
        "id": "e8c041963612ecb6",
        "type": "ui_chart",
        "z": "692433cd95a6273f",
        "name": "",
        "group": "47ee9b416080228d",
        "order": 2,
        "width": "6",
        "height": "7",
        "label": "Master Time",
        "chartType": "bar",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "200",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#d83013",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 870,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "e6f569d9a2cd39d9",
        "type": "debug",
        "z": "692433cd95a6273f",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 880,
        "wires": []
    },
    {
        "id": "bdb3d0be7566044d",
        "type": "debug",
        "z": "692433cd95a6273f",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 380,
        "wires": []
    },
    {
        "id": "2227a1c22dcdb183",
        "type": "addFirebase",
        "z": "692433cd95a6273f",
        "firebaseCertificate": "9548c3473fbcf345",
        "client_email": "",
        "private_key": "",
        "data": "",
        "childpath": "",
        "propertyType": "str",
        "method": "get",
        "newchildpath": "",
        "x": 430,
        "y": 380,
        "wires": [
            [
                "bdb3d0be7566044d"
            ]
        ]
    },
    {
        "id": "f38b0a5d0c73ceef",
        "type": "firebase-get",
        "z": "692433cd95a6273f",
        "name": "",
        "database": "aa48b0aef4f98db1",
        "outputType": "string",
        "path": "value",
        "pathType": "msg",
        "x": 470,
        "y": 460,
        "wires": [
            [
                "c3873aa79fbbbb8d"
            ]
        ]
    },
    {
        "id": "c3873aa79fbbbb8d",
        "type": "debug",
        "z": "692433cd95a6273f",
        "name": "debug 12",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 440,
        "wires": []
    },
    {
        "id": "2c03b7aca0f84713",
        "type": "ui_button",
        "z": "692433cd95a6273f",
        "name": "",
        "group": "47ee9b416080228d",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "clear",
        "tooltip": "",
        "color": "white",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 900,
        "wires": [
            [
                "e8c041963612ecb6",
                "6423cc9b337c93b4"
            ]
        ]
    },
    {
        "id": "47ee9b416080228d",
        "type": "ui_group",
        "name": "Default",
        "tab": "eddb66baef920f5b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9548c3473fbcf345",
        "type": "firebaseCertificate",
        "firebaseurl": "iotfinal-a617d-default-rtdb",
        "loginType": "jwt"
    },
    {
        "id": "aa48b0aef4f98db1",
        "type": "database-config",
        "name": "data11",
        "authType": "anonymous"
    },
    {
        "id": "eddb66baef920f5b",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]