webserver_cloud.json
[
    {
        "id": "c8280fd68b9b3e25",
        "type": "tab",
        "label": "firebase",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1c9305b251b8fe92",
        "type": "http request",
        "z": "c8280fd68b9b3e25",
        "name": "http request",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://pyrebaserealtimedbdemo-7228c-default-rtdb.firebaseio.com/datadata.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 270,
        "y": 340,
        "wires": [
            [
                "71fcba31808c7dc6",
                "b60e2c4a2757a7fb"
            ]
        ]
    },
    {
        "id": "71fcba31808c7dc6",
        "type": "debug",
        "z": "c8280fd68b9b3e25",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 340,
        "wires": []
    },
    {
        "id": "8aecfbe8feca9e05",
        "type": "inject",
        "z": "c8280fd68b9b3e25",
        "name": "timein",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 500,
        "wires": [
            [
                "1c9305b251b8fe92"
            ]
        ]
    },
    {
        "id": "b60e2c4a2757a7fb",
        "type": "json",
        "z": "c8280fd68b9b3e25",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 410,
        "y": 440,
        "wires": [
            [
                "91b4b3fedd529d5f",
                "e34ab3bf8b105d6c",
                "74c5c3abba48641b"
            ]
        ]
    },
    {
        "id": "688f9d47e581bde3",
        "type": "ui_chart",
        "z": "c8280fd68b9b3e25",
        "name": "",
        "group": "47ee9b416080228d",
        "order": 2,
        "width": "6",
        "height": "5",
        "label": "Master Value",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1024",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#d83013",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 890,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "98b4667c93bc3f4b",
        "type": "debug",
        "z": "c8280fd68b9b3e25",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 320,
        "wires": []
    },
    {
        "id": "91b4b3fedd529d5f",
        "type": "function",
        "z": "c8280fd68b9b3e25",
        "name": "function 13",
        "func": "var num1 = context.get(\"num1\") || [];\nif (typeof num1[0] == \"undefined\" || msg.topic == \"clear\") {\n    num1[0] = -1;\n    //msg.payload = [];\n}\nelse\n    num1[0] += 1;\nif (num1[0] < msg.payload.swarmValue0.length){\n    var v0 = msg.payload.swarmValue0[num1[0]];\n    var v1 = msg.payload.swarmValue1[num1[0]];\n    var v2 = msg.payload.swarmValue2[num1[0]];\n    var v3 = msg.payload.swarmValue3[num1[0]];\n    var v4 = msg.payload.swarmValue4[num1[0]];\n    var v5 = msg.payload.swarmValue5[num1[0]];\n}\nelse{\n    var v0 = msg.payload.swarmValue0[num1[msg.payload.swarmValue0.length-1]];\n    var v1 = msg.payload.swarmValue1[num1[msg.payload.swarmValue1.length-1]];\n    var v2 = msg.payload.swarmValue2[num1[msg.payload.swarmValue2.length-1]];\n    var v3 = msg.payload.swarmValue3[num1[msg.payload.swarmValue3.length-1]];\n    var v4 = msg.payload.swarmValue4[num1[msg.payload.swarmValue4.length-1]];\n    var v5 = msg.payload.swarmValue5[num1[msg.payload.swarmValue5.length-1]];\n}\n\n\nvar topic0 = \"swarm0\";\nvar topic1 = \"swarm1\";\nvar topic2 = \"swarm2\";\nvar topic3 = \"swarm3\";\nvar topic4 = \"swarm4\";\nvar topic5 = \"swarm5\";\n\n\nvar msg = [{ topic: topic0, payload: v0 }, \n           { topic: topic1, payload: v1 },\n           { topic: topic2, payload: v2 },\n           { topic: topic3, payload: v3 },\n           { topic: topic4, payload: v4 },\n           { topic: topic5, payload: v5 },\n           ];\n\n// msg.payload = msg.payload.time[num1[0]];\n//msg.payload.labels = \"time\";\ncontext.set(\"num1\", num1);\nreturn msg;",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 440,
        "wires": [
            [
                "98b4667c93bc3f4b",
                "688f9d47e581bde3"
            ],
            [
                "98b4667c93bc3f4b",
                "688f9d47e581bde3"
            ],
            [
                "98b4667c93bc3f4b",
                "688f9d47e581bde3"
            ],
            [
                "98b4667c93bc3f4b",
                "688f9d47e581bde3"
            ],
            [
                "98b4667c93bc3f4b",
                "688f9d47e581bde3"
            ],
            [
                "98b4667c93bc3f4b",
                "688f9d47e581bde3"
            ]
        ]
    },
    {
        "id": "e34ab3bf8b105d6c",
        "type": "function",
        "z": "c8280fd68b9b3e25",
        "name": "function 14",
        "func": "var v0 = msg.payload.masterTimeSum[0];\nvar v1 = msg.payload.masterTimeSum[1];\nvar v2 = msg.payload.masterTimeSum[2];\nvar v3 = msg.payload.masterTimeSum[3];\nvar v4 = msg.payload.masterTimeSum[4];\nvar v5 = msg.payload.masterTimeSum[5];\n\nvar topic0 = msg.payload.swarmAddress[0];\nvar topic1 = msg.payload.swarmAddress[1];\nvar topic2 = msg.payload.swarmAddress[2];\nvar topic3 = msg.payload.swarmAddress[3];\nvar topic4 = msg.payload.swarmAddress[4];\nvar topic5 = msg.payload.swarmAddress[5];\n\nvar msg = [{ topic: topic0, payload: v0 },\n{ topic: topic1, payload: v1 },\n{ topic: topic2, payload: v2 },\n{ topic: topic3, payload: v3 },\n{ topic: topic4, payload: v4 },\n{ topic: topic5, payload: v5 },\n];\n\nreturn msg;",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 560,
        "wires": [
            [
                "c9b85909838facac",
                "badd15e791419ba5"
            ],
            [
                "c9b85909838facac",
                "badd15e791419ba5"
            ],
            [
                "c9b85909838facac",
                "badd15e791419ba5"
            ],
            [
                "c9b85909838facac",
                "badd15e791419ba5"
            ],
            [
                "c9b85909838facac",
                "badd15e791419ba5"
            ],
            [
                "c9b85909838facac",
                "badd15e791419ba5"
            ]
        ]
    },
    {
        "id": "c9b85909838facac",
        "type": "ui_chart",
        "z": "c8280fd68b9b3e25",
        "name": "",
        "group": "47ee9b416080228d",
        "order": 2,
        "width": "6",
        "height": "7",
        "label": "Master Time",
        "chartType": "bar",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "200",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#d83013",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 890,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "badd15e791419ba5",
        "type": "debug",
        "z": "c8280fd68b9b3e25",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 660,
        "wires": []
    },
    {
        "id": "c88978d01bb74a8e",
        "type": "ui_button",
        "z": "c8280fd68b9b3e25",
        "name": "",
        "group": "47ee9b416080228d",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "clear",
        "tooltip": "",
        "color": "white",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 590,
        "y": 680,
        "wires": [
            [
                "c9b85909838facac",
                "688f9d47e581bde3"
            ]
        ]
    },
    {
        "id": "74c5c3abba48641b",
        "type": "debug",
        "z": "c8280fd68b9b3e25",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 560,
        "wires": []
    },
    {
        "id": "47ee9b416080228d",
        "type": "ui_group",
        "name": "Default",
        "tab": "eddb66baef920f5b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "eddb66baef920f5b",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]